# === SYSTEM ===
.DS_Store

# === Development ===
# ---
**/CXF/*
!**/CXF/.gitkeep

**/Maven/*
!**/Maven/.gitkeep

**/Tomcat/*
!**/Tomcat/.gitkeep

# ---
**/IDE/*
!**/IDE/.gitkeep

# ---
**/Android/*
!**/Android/.gitkeep

**/C#/*
!**/C#/.gitkeep

**/GitHub/*
!**/GitHub/.gitkeep

**/iOS/*
!**/iOS/.gitkeep

Development/**/Java/*
!**/Java/.gitkeep

**/JS/*
!**/JS/.gitkeep

**/VBS/*
!**/VBS/.gitkeep
# ---
**/eclipse/*
!**/eclipse/.gitkeep

# === FileData ===
**/Documents/*
!**/Documents/.gitkeep

**/FinalCutPro/*
!**/FinalCutPro/.gitkeep

**/MuMuShare/*
!**/MuMuShare/.gitkeep

**/Others/*
!**/Others/.gitkeep

**/Screenshots/*
!**/Screenshots/.gitkeep

**/Wallpaper/*
!**/Wallpaper/.gitkeep

# === UserData ===
**/Dropbox/*
!**/Dropbox/.gitkeep

**/QQUser/*
!**/QQUser/.gitkeep